.produto-detalhes-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.produto-imagem {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #5a6268;
}
